h1{
	color:darkseagreen;
}

h2{
	color:plum;
}

body {
  background-color: seagreen;
}









.images {
  display:block;
  max-width:200px;
  max-height:400px;
  width: auto;
  height: auto;
  left:535px;
  top: 400px;
  object-fit: contain;
  position: absolute;
}



.images2 {
  display:block;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
  left:150px;
  top: 300px;
  object-fit: contain;
  position: absolute;
}